<% provide(:title, "機能概要") %>
<div class="about-img">
  <div id="wrapper" class="container-about">
    <%= render 'layouts/header' %>
    <div class="row justify-content-center">
      <div class="col-10 col-lg-8 text-center">
        <p class="eng-title text-center">About</p>
        <h1 class="jpn-title text-center">機能概要</h1>
        <div class="about">
          <h2>このアプリについて</h2>
          <p>世界には、</p>
          <p>無数の音楽があります。</p>
          <p>大手サブスクリプションサービスの</p>
          <p>配信曲は5000万曲以上にもなり、</p>
          <p>日々曲数は増加しています。</p>
          <p>その中から、</p>
          <p>生きている内に出会える音楽は</p>
          <p>何曲あるでしょうか。</p>
          <p>「この音楽をもっと早く知りたかった。」</p>
          <p>「もっと早く聴いておけばよかった。」</p>
          <p>こんな経験は、</p>
          <p>あなたにもあるのではないでしょうか。</p>
          <p>まだ知らない音楽に出会い、</p>
          <p>心を豊かに、</p>
          <p>人生を豊かにして欲しい。</p>
          <p><span class="unknownmusic">UnknownMusic</span>には、</p>
          <p>そのような願いが込められています。</p>
          <p>ようこそ<span class="unknownmusic">UnknownMusic</span>へ。</p>
          <p>あなたの人生が音楽で溢れ、</p>
          <p>幸せな日々を送るお手伝いができたら、</p>
          <p>これ以上嬉しいことはありません。</p>
        </div>
        <div class="feature">
          <h2>機能紹介</h2>
          <div class="listening-introduction">
            <h3>気軽に試聴</h3>
            <p>あらゆる画面から、</p>
            <p>音楽をワンタップで試聴できる。</p>
          </div>
          <div class="search-introduction">
            <h3>音楽を検索</h3>
            <p>音楽検索画面から、</p>
            <p>気になる音楽を検索できる。</p>
          </div>
          <div class="post-introduction">
            <h3>お気に入りを投稿</h3>
            <p>ホーム画面から、</p>
            <p>お気に入りの音楽を</p>
            <p>投稿できる。</p>
          </div>
          <div class="discover-introduction">
            <h3>まだ知らない音楽を発見</h3>
            <p>ユーザの投稿から、</p>
            <p>新しい音楽を発見できる。</p>
          </div>
          <div class="page-move">
            <%= link_to "人気投稿はこちら", microposts_path, class: "btn-style btn-about" %>
            <%= link_to "音楽検索はこちら", songs_search_path, class: "btn-style btn-about" %>
            <%= link_to "新規登録はこちら", new_signup_path, class: "btn-style btn-about" %>
            <%= link_to "ログインはこちら", new_session_path, class: "btn-style btn-about" %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</div>
