<% provide(:title, "ログイン") %>
<div class="login-img">
  <div id="wrapper" class="container-login">
    <%= render 'layouts/header' %>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <p class="eng-title text-center">Login</p>
        <h1 class="jpn-title text-center">ログイン</h1>
        <div class="field text-center">
          <%= form_for(:session, url: login_path) do |f| %>
            <%= f.label :email, 'メールアドレス', class: 'd-block text-left mx-auto login-label' %>
            <%= f.email_field :email, class: 'login-form', placeholder: '（例）example@gmail.com' %>
            <%= f.label :password, 'パスワード（６文字以上）', class: 'd-block text-left mx-auto login-label' %>
            <%= f.password_field :password, class: 'login-form mb-2', placeholder: '（例）foobar' %>
            <p>
              <%= f.label :remember_me, class: "keep-login d-block text-left mx-auto" do %>
                <%= f.check_box :remember_me %>
                <span>ログイン状態を保持</span>
              <% end %>
            </p>
            <p class="mt-2 d-block text-left mx-auto forget-password">
              <%= link_to "パスワードをお忘れの場合はこちら", new_password_reset_path, class: "forget-password-link" %>
            </p>
            <%= f.submit "ログイン", class: "btn-style btn-login justify-content-center" %>
          <% end %>
          <%= link_to 'かんたんログイン（閲覧用）', test_sessions_path, method: :post, class:"btn-style btn-easy-login justify-content-center" %>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</div>
