<% provide(:title, 'パスワード再設定') %>
<div class="full-screen-img reset-password-img">
  <div id="wrapper" class="container-reset-password">
    <%= render 'layouts/header' %>
    <div class="row justify-content-center">
      <div class="col-10 col-lg-6">
        <p class="eng-title text-center">Reset password</p>
        <h1 class="jpn-title text-center">パスワード再設定</h1>
        <div class="field text-center">
          <%= form_for(@user, url: password_reset_path(params[:id], html: {novalidate: true})) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <%= hidden_field_tag :email, @user.email %>
            <div class="label mx-auto">
              <%= f.label :password, 'パスワード（６文字以上）', class: 'd-inline-block label-name' %>
              <%= f.label :password, '【必須】', class: 'd-inline-block label-required' %>
            </div>
            <%= f.password_field :password, class: 'reset-password-form' %>
            <% if f.object.errors.include?(:password) %>
              <p class="alert alert-danger error mx-auto text-left"><%= f.object.errors.full_messages_for(:password).first %></p>
            <% end %>
            <div>
              <%= f.label :password, '（例）password', class: 'd-block mx-auto text-left label-example' %>
            </div>
            <div class="label mx-auto">
              <%= f.label :password_confirmation, 'パスワード（確認）', class: 'd-inline-block label-name' %>
              <%= f.label :password_confirmation, '【必須】', class: 'd-inline-block label-required' %>
            </div>
            <%= f.password_field :password_confirmation, class: 'reset-password-form' %>
            <% if f.object.errors.include?(:password_confirmation) %>
              <p class="alert alert-danger error mx-auto text-left"><%= f.object.errors.full_messages_for(:password_confirmation).first %></p>
            <% end %>
            <div>
              <%= f.label :password_confirmation, '（例）password', class: 'd-block mx-auto text-left label-example' %>
            </div>
            <%= f.submit "パスワード更新", class: "btn-style btn-reset-password mx-auto" %>
          <% end %>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</div>
