<% provide(:title, "パスワードを忘れた方") %>
<div class="forgot-password-img">
  <div id="wrapper" class="container-reset-password">
    <%= render 'layouts/header' %>
    <div class="row justify-content-center">
      <div class="col-10 col-lg-6">
        <p class="eng-title text-center">Forgot password</p>
        <h1 class="jpn-title text-center">パスワードを忘れた方</h1>
        <div class="field text-center">
          <%= form_for(:password_reset, url: password_resets_path) do |f| %>
            <%= f.label :email, 'メールアドレス', class: 'd-block text-left mx-auto reset-password-label' %>
            <%= f.email_field :email, class: 'reset-password-form', placeholder: '（例）example@gmail.com' %>
            <%= f.submit "メール送信", class: "btn-style btn-reset-password mx-auto" %>
          <% end %>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</div>
