<% provide(:title, '新規登録') %>
<div class="full-screen-img signup-img">
  <div id="wrapper" class="container-signup">
    <%= render 'layouts/header' %>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <p class="eng-title text-center">Sign up</p>
        <h1 class="jpn-title text-center">新規登録</h1>
        <div class="field text-center">
          <%= form_for(@signup_user, url: signups_path, html: {novalidate: true}) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="label mx-auto">
              <%= f.label :name, '名前（ニックネーム可）', class: 'd-inline-block label-name' %>
              <%= f.label :name, '【必須】', class: 'd-inline-block label-required' %>
            </div>
            <div>
              <%= f.text_field :name, class: 'signup-form' %>
            </div>
            <% if f.object.errors.include?(:name) %>
              <p class="alert alert-danger error mx-auto text-left"><%= f.object.errors.full_messages_for(:name).first %></p>
            <% end %>
            <div>
              <%= f.label :name, '（例）田中実', class: 'd-block mx-auto text-left label-example ' %>
            </div>
            <div class="label mx-auto">
              <%= f.label :email, class: 'd-inline-block label-name' %>
              <%= f.label :email, '【必須】', class: 'd-inline-block label-required' %>
            </div>
            <div>
              <%= f.email_field :email, class: 'signup-form', novalidate: false %>
            </div>
            <% if f.object.errors.include?(:email) %>
              <p class="alert alert-danger error mx-auto text-left"><%= f.object.errors.full_messages_for(:email).first %></p>
            <% end %>
            <div>
              <%= f.label :email, '（例）example@gmail.com', class: 'd-block mx-auto text-left label-example' %>
            </div>
            <div class="label mx-auto">
              <%= f.label :password, 'パスワード（６文字以上）', class: 'd-inline-block text-left mx-auto label-name' %>
              <%= f.label :password, '【必須】', class: 'd-inline-block label-required' %>
            </div>
            <div>
              <%= f.password_field :password, class: 'signup-form' %>
            </div>
            <% if f.object.errors.include?(:password) %>
              <p class="alert alert-danger error mx-auto text-left"><%= f.object.errors.full_messages_for(:password).first %></p>
            <% end %>
            <div>
              <%= f.label :password, '（例）password', class: 'd-block mx-auto text-left label-example' %>
            </div>
            <div class="label mx-auto">
              <%= f.label :password_confirmation, 'パスワード（確認）', class: 'd-inline-block text-left mx-auto label-name' %>
              <%= f.label :password_confirmation, '【必須】', class: 'd-inline-block label-required' %>
            </div>
            <div>
              <%= f.password_field :password_confirmation, class: 'signup-form' %>
            </div>
            <% if f.object.errors.include?(:password_confirmation) %>
              <p class="alert alert-danger error mx-auto text-left"><%= f.object.errors.full_messages_for(:password_confirmation).first %></p>
            <% end %>
            <div>
              <%= f.label :password_confirmation, '（例）password', class: 'd-block mx-auto text-left label-example' %>
            </div>
            <%= f.submit '登録する', class: 'btn-style btn-signup mx-auto'%>
          <% end %>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</div>
