<% provide(:title, 'ユーザ編集') %>
<div class="edit-img">
  <div id="wrapper" class="container-edit">
    <%= render 'layouts/header' %>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <p class="eng-title text-center">User edit</p>
        <h1 class="jpn-title text-center">ユーザ編集</h1>
        <div class="field text-center">
          <%= form_for(current_user, url: mypage_users_path, html: {novalidate: true}) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="img-edit">
              <p>
                <% if @user_image.nil? %>
                  <% @user_image = current_user.image.to_s %>
                <% else %>
                <% end %>
                <%= image_tag @user_image, id: "img-prev", class: "img-fluid rounded-circle user-img" %>
                <%= f.hidden_field :user_image, :value => @user_image %>
              </p>
              <p class="m-0">
                <label class="img-change mx-auto">
                  <i class="far fa-image"></i>
                  <span>
                    画像を変更【任意】
                  </span>
                  <%= f.file_field :image, id: "post-img" %>
                </label>
              </p>
              <% if f.object.errors.include?(:image) %>
                <p class="alert alert-danger error mx-auto text-left"><%= f.object.errors.full_messages_for(:image).first %></p>
              <% end %>
            </div>
            <div class="user-edit">
              <div class="label mx-auto">
                <%= f.label :name, '名前（ニックネーム可）', class: 'd-inline-block text-left mx-auto label-name' %>
                <%= f.label :name, '【任意】', class: 'd-inline-block label-optional' %>
              </div>
              <%= f.text_field :name, class: 'edit-form' %>
              <% if f.object.errors.include?(:name) %>
                <p class="alert alert-danger error mx-auto text-left"><%= f.object.errors.full_messages_for(:name).first %></p>
              <% end %>
              <div>
                <%= f.label :name, '（例）田中実', class: 'd-block mx-auto text-left label-example ' %>
              </div>
              <div class="label mx-auto">
                <%= f.label :email, class: 'd-inline-block text-left mx-auto label-name' %>
                <%= f.label :email, '【任意】', class: 'd-inline-block label-optional' %>
              </div>
              <div>
                <%= f.email_field :email, class: 'edit-form' %>
              </div>
              <% if f.object.errors.include?(:email) %>
                <p class="alert alert-danger error mx-auto text-left"><%= f.object.errors.full_messages_for(:email).first %></p>
              <% end %>
              <div>
                <%= f.label :email, '（例）example@gmail.com', class: 'd-block mx-auto text-left label-example' %>
              </div>
              <div class="label mx-auto">
                <%= f.label :password, 'パスワード（６文字以上）', class: 'd-inline-block text-left mx-auto label-name' %>
                <%= f.label :password, '【任意】', class: 'd-inline-block label-optional' %>
              </div>
              <div>
                <%= f.password_field :password, class: 'edit-form' %>
              </div>
              <% if f.object.errors.include?(:password) %>
                <p class="alert alert-danger error mx-auto text-left"><%= f.object.errors.full_messages_for(:password).first %></p>
              <% end %>
              <div>
                <%= f.label :password, '（例）password', class: 'd-block mx-auto text-left label-example' %>
              </div>
              <div class="label mx-auto">
                <%= f.label :password_confirmation, 'パスワード（確認）', class: 'd-inline-block text-left mx-auto label-name' %>
                <%= f.label :password_confirmation, '【任意】', class: 'd-inline-block label-optional' %>
              </div>
              <div>
                <%= f.password_field :password_confirmation, class: 'edit-form' %>
              </div>
              <% if f.object.errors.include?(:password_confirmation) %>
                <p class="alert alert-danger error mx-auto text-left"><%= f.object.errors.full_messages_for(:password_confirmation).first %></p>
              <% end %>
              <div>
                <%= f.label :password_confirmation, '（例）password', class: 'd-block mx-auto text-left label-example' %>
              </div>
              <p>
                <%= f.submit '更新する', class: 'btn-style btn-edit'%>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</div>
