<span class="like">
  <% if micropost.favorite?(current_user) %>
    <%= form_for(micropost.likes.find_by(user_id: current_user.id), method: :delete, remote: true, html: { class: "like-inline" }) do |f| %>
      <%= button_tag(class: "btn btn-like btn-size") do %>
        <%= content_tag :span, "#{micropost.likes_count}", class: "fa fa-heart" %>
      <% end %>
    <% end %>
  <% else %>
    <%= form_for(micropost.likes.build, remote: true, html: { class: "like-inline" }) do |f| %>
      <%= button_tag(class: "btn btn-like-non btn-size") do %>
        <%= hidden_field_tag :micropost_id, micropost.id %>
        <%= content_tag :span, "#{micropost.likes_count}", class: "fa fa-heart-o" %>
      <% end %>
    <% end %>
  <% end %>
</span>
