<li class="user">
  <%= image_tag user.image.to_s, class: "img-fluid rounded-circle user-info-img" %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "本当に削除しますか？" } %>
  <% end %>
  <% unless current_user?(user) %>
    <div id="follow_form">
      <% if current_user.following?(user) %>
        <%= form_for(current_user.active_relationships.find_by(followed_id: user.id),
             html: { method: :delete }) do |f| %>
          <%= f.submit "フォロー解除", class: "btn" %>
        <% end %>
      <% else %>
        <%= form_for(current_user.active_relationships.build) do |f| %>
          <div><%= hidden_field_tag :followed_id, user.id %></div>
          <%= f.submit "フォロー", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</li>
