<% provide(:title, '編集') %>
<div class="edit-img">
  <div id="wrapper" class="container-edit">
    <%= render 'layouts/header' %>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <p class="eng-title text-center">User edit</p>
        <h1 class="jpn-title text-center">ユーザ編集</h1>
        <div class="field text-center">
          <%= form_for(@user, url: edit_user_path) do |f| %>
            <p>
              <%= render 'shared/error_messages', object: f.object %>
            </p>
            <div class="img-edit">
              <p>
                <% if @user_image.nil? %>
                  <%= image_tag @user.image.to_s, id: "img-prev", class: "img-fluid rounded-circle user-img" %>
                <% else %>
                  <%= image_tag @user_image, id: "img-prev", class: "img-fluid rounded-circle user-img" %>
                <% end %>
                <%= f.hidden_field :user_image, :value => @user.image.to_s %>
              </p>
              <p>
                <label class="img-change mx-auto">
                  <i class="far fa-image"></i>
                  <span>
                    画像を変更
                  </span>
                  <%= f.file_field :image, id: "post-img" %>
                </label>
              </p>
            </div>
            <div class="user-edit">
              <%= f.text_field :name, class: 'edit-form', placeholder: '名前' %>
              <%= f.email_field :email, class: 'edit-form', placeholder: 'メールアドレス' %>
              <%= f.password_field :password, class: 'edit-form', placeholder: 'パスワード' %>
              <%= f.password_field :password_confirmation, class: 'edit-form', placeholder: 'パスワード（確認）' %>
              <p>
                <%= f.submit '更新する', class: 'btn-style btn-edit'%>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</div>
