<% provide(:title, '編集') %>
<div class="img-layout edit-img">
  <div class="container-edit">
    <h1>プロフィールを編集</h1>
    <div class="row justify-content-center">
      <%= form_for(@user, url: edit_user_path) do |f| %>
        <div class="col-md-2">
          <% if @user.image? %>
            <%= image_tag @user.image.thumb50.url %>
          <% else %>
            <%= image_tag "/assets/default.jpg", :size => '100x100' %>
          <% end %>
          <%= f.file_field :image %>
        </div>
        <div class="col-md-6">
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.label :name, '名前'%>
          <%= f.text_field :name, class: 'form-layout'%>
          <%= f.label :email, 'メールアドレス'%>
          <%= f.email_field :email, class: 'form-layout'%>
          <%= f.label :password, 'パスワード'%>
          <%= f.password_field :password, class: 'form-layout'%>
          <%= f.label :password_confirmation, 'パスワード（確認）'%>
          <%= f.password_field :password_confirmation, class: 'form-layout'%>
          <%= f.submit '更新する', class: 'btn btn-style btn-edit'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
