<% provide(:title, 'ホーム') %>
<% provide(:path, home_index_path(current_user)) %>
<% provide(:placeholder, 'アーティスト名、曲名、投稿内容を検索') %>
<% if logged_in? %>
  <div class="full-screen-img home-img">
    <%= render 'layouts/header' %>
    <div id="wrapper" class="container-home">
      <div class="row justify-content-center">
        <aside class="col-md-4">
          <section class="user-info">
            <%= render 'shared/user_info' %>
          </section>
          <section class="stats">
            <%= render 'shared/stats' %>
          </section>
          <section class="micropost-form">
            <%= render 'shared/micropost_form' %>
          </section>
        </aside>
        <div class="col-md-6">
          <section class="text-right user-search">
            <%= render 'users/search'%>
          </section>
          <%= render 'shared/feed' %>
        </div>
      </div>
    <% else %>
      <% render root_url %>
    <% end %>
    <%= render 'layouts/footer' %>
  </div>
</div>
