<% provide(:title, 'ユーザ一覧') %>
<% provide(:path, users_path) %>
<% provide(:placeholder, 'ユーザを検索') %>
<div class="full-screen-img users-index-img">
  <div id="wrapper" class="container-users-index">
    <%= render 'layouts/header' %>
    <div class="row justify-content-center row-users-index">
      <div class="col-12 col-md-10 col-lg-6">
        <p class="eng-title text-center">User list</p>
        <h1 class="jpn-title text-center">ユーザ一覧</h1>
        <section class="text-right user-search">
          <%= render 'users/search' %>
        </section>
        <ul class="users">
          <%= render @users %>
        </ul>
        　<%= paginate @users, theme: 'twitter-bootstrap-4'%>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</div>
