<% provide(:title, '新規登録') %>
<div class='img-layout signup-img'>
  <div class='container-signup'>
    <h1>新規登録</h1>
    <div class='row'>
      <div class='col-md-12'>
        <%= form_for(@user, url: signup_path) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.label :name, '名前'%>
          <%= f.text_field :name, class: 'form-layout'%>
          <%= f.label :email, 'メールアドレス'%>
          <%= f.email_field :email, class: 'form-layout'%>
          <%= f.label :password, 'パスワード'%>
          <%= f.password_field :password, class: 'form-layout'%>
          <%= f.label :password_confirmation, 'パスワード（確認）'%>
          <%= f.password_field :password_confirmation, class: 'form-layout'%>
          <%= f.submit '登録する', class: 'btn btn-style btn-signup'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
