<% provide(:title, @title) %>
<div class="show-follow-img">
  <%= render 'layouts/header' %>
  <div id="wrapper" class="container-show-follow">
    <div class="row justify-content-center">
      <aside class="col-md-4">
        <section class="user-info">
          <%= image_tag @user.image.to_s, class: "img-fluid rounded-circle user-info-img" %>
          <h1>
            <%= link_to @user.name, @user, class: "user" %>
          </h1>
        </section>
        <section class="stats">
          <a href="<%= following_user_path(@user) %>">
            <strong id="show-follow-following">
              <%= @user.following.count %>
            </strong>
            フォロー中
          </a>
          <a href="<%= followers_user_path(@user) %>">
            <strong id="show-follow-followers">
              <%= @user.followers.count %>
            </strong>
            フォロワー
          </a>
        </section>
      </aside>
      <div class="col-md-6">
        <h2>
          <%= @title %>
        </h2>
        <% if @users.any? %>
          <ul class="users follow">
            <%= render @users %>
          </ul>
          <%= paginate @users, theme: 'twitter-bootstrap-4' %>
        <% end %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</div>
