<% provide(:title, @user.name) %>
<% provide(:path, user_path) %>
<% provide(:placeholder, 'アーティスト名、曲名、投稿内容を検索') %>
<div class="full-screen-img show-img">
  <%= render 'layouts/header' %>
  <div id="wrapper" class="container-show">
    <div class="row justify-content-center">
      <aside class="col-md-4">
        <section class="user-info">
          <%= image_tag @user.image.to_s, class: "img-fluid rounded-circle user-info-img" %>
          <h1>
            <%= @user.name %>
          </h1>
        </section>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
        <section>
          <%= render 'follow_form', object: @user, stats_user: @user if logged_in? %>
        </section>
      </aside>
      <div class="col-md-6">
        <section class="text-right user-search">
          <%= render 'users/search' %>
        </section>
        <%= render @microposts.sorted %>
        <%= paginate @microposts, theme: 'twitter-bootstrap-4' %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</div>
