<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <p><%= f.label :artist, 'アーティスト名', class: 'label' %></p>
    <% if @result_artist_name.nil? %>
      <p><%= f.label :artist,  '検索してください', class: 'not-search' %></p>
    <% else %>
      <p><%= f.label :artist,  @result_artist_name, class: 'label'  %></p>
      <%= f.hidden_field :artist, :value => @result_artist_name %>
    <% end %>
    <p><%= f.label :song, '曲名', class: 'label' %></p>
    <% if @result_track.nil? %>
      <p><%= f.label :song,  '検索してください', class: 'not-search' %></p>
    <% else %>
      <p><%= f.label :song,  @result_track, class: 'label' %></p>
      <%= f.hidden_field :song, :value => @result_track %>
    <% end %>
    <p><%= f.label :listening_url, '試聴', class: 'label' %></p>
    <% if @result_listening_url.nil? %>
      <p><%= f.label :listening_url,  '検索してください', class: 'not-search' %></p>
    <% else %>
      <%= link_to '試聴', @result_listening_url, class: 'btn btn-primary', target: :_blank %>
      <%= f.hidden_field :listening_url, :value => @result_listening_url %>
    <% end %>
    <%= f.label :content, '内容（３５文字以内）', class: "label" %>
    <%= f.text_area :content %>
  </div>
  <%= link_to '検索', songs_search_path, class: 'btn btn-primary btn-songs-search' %>
  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>
