<%= form_for(@micropost) do |f| %>
  <div class="field">
    <%= render 'shared/error_messages', object: f.object %>
    <p class="mt-4">
      <span class="fas fa-user">
        <span class="icon-style">
          <%= f.label :artist, 'アーティスト名', class: 'label' %>
        </span>
      </span>
    </p>
    <% if @result_artist_name.nil? %>
      <% if f.object.errors.include?(:artist) %>
        <p class="alert alert-danger error text-left"><%= f.object.errors.full_messages_for(:artist).first %></p>
      <% else %>
        <p><%= f.label :artist,  '検索してください', class: 'search-result-non' %></p>
      <% end %>
    <% else %>
      <p><%= f.label :artist,  @result_artist_name, class: 'search-result' %></p>
      <%= f.hidden_field :artist, :value => @result_artist_name %>
    <% end %>
    <p class="mt-4">
      <span class="fas fa-music">
        <span class="icon-style">
          <%= f.label :song, '曲名', class: 'label' %>
        </span>
      </span>
    </p>
    <% if @result_track.nil? %>
      <% if f.object.errors.include?(:song) %>
        <p class="alert alert-danger error text-left"><%= f.object.errors.full_messages_for(:song).first %></p>
      <% else %>
        <p><%= f.label :song,  '検索してください', class: 'search-result-non' %></p>
      <% end %>
    <% else %>
      <p><%= f.label :song,  @result_track, class: 'search-result' %></p>
      <%= f.hidden_field :song, :value => @result_track %>
    <% end %>
    <% if @result_listening_url.nil? %>
      <p class="mt-4">
        <span class="fa fa-play">
          <span class="icon-style">
            <%= f.label :listening_url, '試聴URL', class: 'label' %>
          </span>
        </span>
      </p>
      <% if f.object.errors.include?(:listening_url) %>
        <p class="alert alert-danger error text-left"><%= f.object.errors.full_messages_for(:listening_url).first %></p>
      <% else %>
        <p><%= f.label :listening_url,  '検索してください', class: 'search-result-non' %></p>
      <% end %>
    <% else %>
      <p class="mt-4">
        <span>
          <%= link_to @result_listening_url, class: 'fa fa-play btn-listening', target: :_blank do %>
            <span class="icon-style">試聴</span>
            <%= f.hidden_field :listening_url, :value => @result_listening_url %>
          <% end %>
        </span>
      </p>
    <% end %>
    <p class="mt-4">
      <%= f.label :content, '内容（70文字以内）', class: "label" %>
    </p>
    <p><%= f.text_area :content, placeholder: '内容を入力してください' %></p>
    <% if f.object.errors.include?(:content) %>
      <p class="alert alert-danger error text-left"><%= f.object.errors.full_messages_for(:content).first %></p>
    <% end %>
  </div>
  <div class="icon mt-2">
    <span>
      <%= link_to songs_search_path, class: 'fas fa-search search', target: :_blank do %>
        <span class="icon-style">音楽検索</span>
      <% end %>
    </span>
    <%= button_tag(class: "btn-share") do %>
      <%= content_tag :span, '', class: "fas fa-share" do %>
        <span class="icon-style">投稿</span>
      <% end %>
    <% end %>
  </div>
<% end %>
