<% provide(:title, '音楽検索') %>
<div class="song-img">
  <div id="wrapper" class="container-song">
    <%= render 'layouts/header' %>
    <div class="row justify-content-center song-search">
      <div class="col-12 text-center justify-content-center">
        <p class="eng-title text-center">Music search</p>
        <h1 class="jpn-title text-center">音楽検索</h1>
        <%= form_with url: songs_search_path, method: :get, local: true, class: "text-center" do |form| %>
          <div>
            <%= text_field_tag :search, params[:search], placeholder: "アーティスト名、曲名で検索", class: "text-center search-form" %>
          </div>
          <div>
            <%= submit_tag '音楽検索', :name => nil, class: "btn-style btn-song" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 text-center justify-content-center">
        <% if @search_infomations.present? %>
          <% search_tracks_items = @search_infomations["tracks"]["items"] %>
          <% if search_tracks_items.present? %>
            <% search_tracks_items.each do |search_tracks_item| %>
              <%= form_with url: search_result_path, local: true, class: "text-center justify-content-center search-content" do |f| %>
                <div class="artist-song">
                  <span class="fas fa-user">
                    <span class="icon-style">
                      <%= search_tracks_item["artists"][0]["name"] %> /
                    </span>
                  </span>
                  <span class="fas fa-music">
                    <span class="icon-style">
                      <%= search_tracks_item["name"] %>
                    </span>
                  </span>
                  <%= f.hidden_field :artist, :value => search_tracks_item["artists"][0]["name"] %>
                  <%= f.hidden_field :song, :value => search_tracks_item["name"] %>
                </div>
                <div class="album-image">
                  <% if search_tracks_item["album"]["images"][0].any? %>
                    <%= image_tag search_tracks_item["album"]["images"][0]["url"], class: "song-jacket" %>
                  <% else %>
                    <h3>No image</h3>
                  <% end %>
                </div>
                <div class="icon">
                  <% if search_tracks_item["preview_url"].present? %>
                    <span>
                      <%= link_to search_tracks_item["preview_url"], class: 'fa fa-play btn-listening', target: :_blank do %>
                        <span class="icon-style">試聴</span>
                      <% end %>
                    </span>
                    <%= button_tag(class: "share") do %>
                      <%= hidden_field_tag :listening_url, search_tracks_item["preview_url"] %>
                      <%= content_tag :span, '', class: "fas fa-share" do %>
                        <span class="icon-style">投稿</span>
                      <% end %>
                    <% end %>
                  <% else %>
                    <p class="icon-style">試聴できません。</p>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</div>
