<%= form_with url: songs_search_path, method: :get, local: true do |form| %>
  <%= form.text_field :search, :placeholder => "アーティスト名か曲名で検索", :size=>"60" %>
  <%= form.submit '曲検索', name: nil %>
<% end %>
<%= form_with url: home_path, method: :get, local: true do |form| %>
  <div>
    <% if @searchtracks.present? %>
      <% @searchtracks.each do |searchtrack| %>
        <div>
          <%= searchtrack.artists.first.name + ' - ' + searchtrack.name %><br>
          <% if searchtrack.artists.first.images.any?%>
            <%image = searchtrack.artists.first.images[2]%>
            <%= image_tag(image["url"])%>
          <%else%>
            <h3>No image</h3>
          <%end%>
          <% if searchtrack.preview_url.present? %>
            <%= link_to '試聴', searchtrack.preview_url, class: 'btn btn-primary', target: :_blank %></h3>
          <%= form.submit '投稿', name: nil %>
        <% else %>
          <h3>No preview</h3>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<% if false %>
  <div>
    <% if @searchartists.present? %>
      <h3>アーティスト名</h3>
      <% @searchartists.each do |searchartist| %>
        <div>
          <h3><%= searchartist.name %></h3>
          <h3><% am = searchartist.albums.first %></h3>
          <h3><% tracks = am.tracks %></h3>
          <h3><% do_i_wanna_know = tracks.first %></h3>
          <h3><%= link_to 'start', do_i_wanna_know.preview_url %></h3>
          <% if searchartist.images.any?%>
            <%image = searchartist.images[1]%>
            <%= image_tag(image["url"])%>
          <%else%>
            検索結果はありません
          <%end%>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<% end %>
