<% provide(:path, songs_search_path) %>
<% provide(:placeholder, 'アーティスト名か曲名で検索') %>
<%= render 'users/search'%>
<%= @result_artists_name %>
<%= @result_track %>
<div>
  <% if @searchtracks.present? %>
    <% @searchtracks.each do |searchtrack| %>
      <div>
        <%= form_with url: search_result_path, local: true do |f| %>
          <%= searchtrack.artists.first.name + ' - ' + searchtrack.name %><br>
          <%= f.hidden_field :artist, :value => searchtrack.artists.first.name %>
          <%= f.hidden_field :song, :value => searchtrack.name %>
          <% if searchtrack.artists.first.images.any? %>
            <%= image_tag searchtrack.artists.first.images[2]["url"], :size =>'200x200' %>
          <%else%>
            <h3>No image</h3>
          <%end%>
          <% if searchtrack.preview_url.present? %>
            <%= link_to '試聴', searchtrack.preview_url, class: 'btn btn-primary', target: :_blank %>
            <%= f.submit '投稿', name: nil %>
            <%= f.hidden_field :listening_url, :value => searchtrack.preview_url %>
          <% else %>
            <h3>No preview</h3>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
