<%= form_with url: songs_search_path, method: :get, local: true do |form| %>
  <%= form.text_field :search, :placeholder => "アーティスト名か曲名で検索", :size=>"60" %>
  <%= form.submit '曲検索', name: nil %>
<% end %>
<%= @result_artists_name %>
<%= @result_track %>
<div>
  <% if @searchtracks.present? %>
    <% @searchtracks.each do |searchtrack| %>
      <div>
        <%= form_with url: search_result_path, local: true do |f| %>
          <%= searchtrack.artists.first.name + ' - ' + searchtrack.name %><br>
          <%= f.hidden_field :name, :value => searchtrack.artists.first.name %>
          <%= f.hidden_field :track, :value => searchtrack.name %>
          <% if searchtrack.artists.first.images.any?%>
            <%image = searchtrack.artists.first.images[2]%>
            <%= image_tag(image["url"])%>
          <%else%>
            <h3>No image</h3>
          <%end%>
          <% if searchtrack.preview_url.present? %>
            <%= link_to '試聴', searchtrack.preview_url, class: 'btn btn-primary', target: :_blank %>
            <%= f.submit '投稿', name: nil %>
          <% else %>
            <h3>No preview</h3>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
