<ol class="microposts">
  <li id="micropost-<%= micropost.id %>">
    <div class="row">
      <div class="col-2">
        <span><%= image_tag micropost.user.image.thumb75.to_s, class: "user-img mx-auto d-block img-rounded" %></span>
      </div>
      <div class="col-10">
        <span><%= link_to micropost.user.name, micropost.user, class: "user" %></span><br>
        <div class="row">
          <span class="col">
            <span class="artist"><%= micropost.artist %></span> -
            <span class="song"><%= micropost.song %></span>
          </span>
          <span class="col">
            <span class="content"><%= micropost.content %></span><br>
          </span>
        </div>
        <div class="row">
          <span class="col"><span class="listening"><%= link_to '', micropost.listening_url, class: 'fa fa-play btn-size listening', target: :_blank %></span></span>
          <span class="col"><%= render 'likes/like', micropost: micropost %></span>
          <span class="col">
            <span>
              <% if current_user?(micropost.user) %>
                <%= link_to "", micropost, method: :delete, class: 'fa fa-trash-o btn-size trash',
                                       data: { confirm: "本当に削除しますか？" } %>
              <% end %>
            </span>
          </span>
          <span class="col">
            <span class="fa fa-clock-o btn-size timestamp">
              <%= time_ago_in_words(micropost.created_at) %>前
            </span>
          </span>
        </div>
      </div>
    </li>
  </ol>
