<header class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'UnknownMusic', root_path, class: 'logo'%>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id ="navbar">
      <ul class="nav navbar-nav">
        <li class="nav-item"><%= link_to 'このサイトについて', about_path, class: 'link-style' %></li>
        <li class="nav-item"><%= link_to '曲検索', songs_search_path, class: 'link-style' %></li>
        <li class="nav-item"><%= link_to '人気の投稿', microposts_path, class: 'link-style' %></li>
        <% if logged_in? %>
          <li class="nav-item"><%= link_to 'ホーム', home_path, class: 'link-style' %></li>
          <li class="nav-item"><%= link_to 'ユーザ一覧', users_path, class: 'link-style' %></li>
          <li class="nav-item"><%= link_to 'ユーザ編集', edit_user_path(current_user), class: 'link-style' %></li>
          <li class="nav-item"><%= link_to 'ログアウト', logout_path, class: 'link-style' %></li>
        <% else %>
          <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'link-style' %></li>
          <li class="nav-item"><%= link_to '新規登録', signup_path, class: 'link-style' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
