<header class="navbar navbar-expand-md">
  <div class="container-fluid">
    <%= link_to 'UnknownMusic', root_path, class: 'logo'%>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id ="navbar">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <%= link_to microposts_path, id: 'popular-posts', class: 'link-style' do %>
            <p class="eng-link">Popular posts</p>
            <p class="jpn-link">人気投稿</p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to song_search_index_path, id: 'music-search', class: 'link-style' do %>
            <p class="eng-link">Music search</p>
            <p class="jpn-link">音楽検索</p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to about_static_pages_path, id: 'about', class: 'link-style' do %>
            <p class="eng-link">About</p>
            <p class="jpn-link">機能概要</p>
          <% end %>
        </li>
        <% if logged_in? %>
          <li class="nav-item">
            <%= link_to home_user_path(current_user), id: 'home', class: 'link-style' do %>
              <p class="eng-link">Home</p>
              <p class="jpn-link">ホーム</p>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to users_path, id: 'user-list', class: 'link-style' do %>
              <p class="eng-link">User list</p>
              <p class="jpn-link">ユーザ一覧</p>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to edit_mypage_users_path(current_user), id: 'user-edit', class: 'link-style' do %>
              <p class="eng-link">User edit</p>
              <p class="jpn-link">ユーザ編集</p>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to session_path(current_user), id: 'logout', class: 'link-style', method: :delete do %>
              <p class="eng-link">Logout</p>
              <p class="jpn-link">ログアウト</p>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_signup_path, id: 'sign-up', class: 'link-style' do %>
              <p class="eng-link">Sign up</p>
              <p class="jpn-link">新規登録</p>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_session_path, id: 'login', class: 'link-style' do %>
              <p class="eng-link">Login</p>
              <p class="jpn-link">ログイン</p>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
