<header class="navbar navbar-expand-md sticky-top">
  <div class="container-fluid">
    <%= link_to 'UnknownMusic', root_path, class: 'logo'%>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id ="navbar">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <%= link_to about_path, class: 'link-style text-center' do %>
            <p class="eng-link">About</p>
            <p class="jpn-link">機能概要</p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to songs_search_path, class: 'link-style text-center' do %>
            <p class="eng-link">Music search</p>
            <p class="jpn-link">音楽検索</p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to microposts_path, class: 'link-style text-center' do %>
            <p class="eng-link">Popular posts</p>
            <p class="jpn-link">人気投稿</p>
          <% end %>
        </li>
        <% if logged_in? %>
          <li class="nav-item">
            <%= link_to home_path, class: 'link-style text-center' do %>
              <p class="eng-link">Home</p>
              <p class="jpn-link">ホーム</p>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to users_path, class: 'link-style text-center' do %>
              <p class="eng-link">User list</p>
              <p class="jpn-link">ユーザ一覧</p>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to edit_user_path(current_user), class: 'link-style text-center' do %>
              <p class="eng-link">User edit</p>
              <p class="jpn-link">ユーザ編集</p>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to logout_path, class: 'link-style text-center' do %>
              <p class="eng-link">Logout</p>
              <p class="jpn-link">ログアウト</p>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to login_path, class: 'link-style text-center' do %>
              <p class="eng-link">Login</p>
              <p class="jpn-link">ログイン</p>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to signup_path, class: 'link-style text-center' do %>
              <p class="eng-link">Sign up</p>
              <p class="jpn-link">新規登録</p>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
